.aksi-edit, .aksi-hapus {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.aksi-hapus {
    background-color: #f70d05; /* Red */
}

.aksi-edit a, .aksi-hapus a {
    color: white;
    text-decoration: none;
}

.aksi-edit:hover {
    cursor: pointer;
    background-color: #30ba36;
}

.aksi-hapus:hover {
    cursor: pointer;
    background-color: #e33c36;
}

.customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
.customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
.customers tr:nth-child(even){background-color: #f2f2f2;}
  
.customers tr:hover {background-color: #ddd;}
  
.customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }